.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  width: 20px;
  height: 25px;
  border-top: solid 0 transparent;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-bottom: solid 25px green;
  cursor: pointer;
}
.triangle-container{
    border: solid black 1px;
    /* height: 50px; */
    width: fit-content;
}
.triangle{
  border-top: 0 solid transparent;
  border-bottom: 30px solid green;
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-appearance: none;
  background: transparent;
  /* border-radius: 50%; */
  /* appearance: none; */
  /* width: 25px; */
  height: 25px;
  /* border: 0; */
  border-top: solid 0 transparent;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-bottom: solid 25px green;
  cursor: pointer;
}
