.row {
  box-sizing: border-box;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-flex: 0;
  -webkit-box-direction: normal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex-direction: row;
  flex-direction: row;
  box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap; 
}

.row-timeline{
  border: solid red 1px;
  height: 100px;
}
.row-border{
  border: solid pink 1px;
  /* height: 50px; */
}

.fcu-3{
    width: 1200px;
    height: 800px;
    border: solid black 1px;
}
/* .timer{
    height: 180px;
} */
.registration{
  position: relative;
  /* padding-top: 50px; */
  margin-left: 25px;
}
/* .container{
    height: 180px;
} */
.slidecontainer {
  width: 100%;
}
.triangleDown {
  position: absolute;
    width: 67%;
    -webkit-appearance: none;
    height: 25px;
    background-color: blueviolet;
    margin-bottom: 50px;
}
.triangleDown::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 25px;
  border-bottom: solid 0 transparent;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-top: solid 25px green;
  cursor: pointer;
}
.triangleUp {
  position: absolute;
  background-color: transparent;
    width: 67%;
    -webkit-appearance: none;
    height: 25px;
}
.triangleUp::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* background: transparent; */
  width: 20px;
  height: 25px;
  border-top: solid 0 transparent;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-bottom: solid 25px green;
  cursor: pointer;
}
.command {
  position: absolute;
  background-color: transparent;
    width: 67%;
    -webkit-appearance: none;
    height: 25px;
    /* outline: none; */
    opacity: 0.99;
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
}
.command::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  background-color: red;
  height: 25px;
  /* border-bottom: solid 0 transparent; */
  /* border-right: solid 5px black; */
  /* border-left: solid 10px transparent;
  border-top: solid 25px green; */
  cursor: pointer;
}

/* .slider-one { width: 100%; }
.slider-one::-moz-range-thumb { 
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider-two {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: gray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-two::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer;
}

.slider-three {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-three::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
} */

.input {
    width: 50px;
}

.col-1 { width: 100%; max-width: 8.33333%; }
.col-2 { width: 100%; max-width: 16.66667%; }
.col-3 { width: 100%; max-width: 25%; }
.col-4 { width: 100%; max-width: 33.33333%; }
.col-5 { width: 100%; max-width: 41.66667%; }
.col-6 { width: 100%; max-width: 50%; }
.col-7 { width: 100%; max-width: 58.33333%; }
.col-8 { width: 100%; max-width: 66.66667%; }
.col-9 { width: 100%; max-width: 75%; }
.col-10 { width: 100%; max-width: 83.33333%; }
.col-11 { width: 100%; max-width: 91.66667%; }
.col-12 { width: 100%; max-width: 100%; }
